<footer style="text-align: center; padding-top: 15px">
    <div class="navbar-center hidden lg:flex pl-16">
        <ul class="menu menu-horizontal px-1">
          <li><a style="padding-right: 10px" href={% url 'home' %}>Bact to Home</a></li>
          <li><a style="padding-right: 10px" href={% url 'emp' %}>Employee List</a></li>
          <br>
          <li><a style="padding-right: 10px" href={% url 'add_column' %}>Add New Employee</a></li>
        </ul>
      </div>
    <p>&copy;2025 AH-Resturant</p>
</footer>