<header>
    <div class="navbar bg-base-100">
        <div class="navbar-start">
          <div class="dropdown">
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
              {% comment %} <li><a style="padding-right: 10px" href={% url 'home' %}>Home</a></li> {% endcomment %}
              <li><a style="padding-right: 10px" href={% url 'meals' %}>Meal List</a></li>
              <li><a style="padding-right: 10px" href={% url 'order' %}>Booking-Contact</a></li>
              <li><a style="padding-right: 10px" href={% url 'contact' %}>Sign-Up</a></li>
            </ul>
          </div>
          <a class="btn btn-ghost text-xl" href={% url 'home' %}>AH-Resturant</a>
        </div>
        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1">
            {% comment %} <li><a style="padding-right: 10px" href={% url 'home' %}>Home</a></li> {% endcomment %}
            <li><a style="padding-right: 10px" href={% url 'meals' %}>Meal List</a></li>
            <li><a style="padding-right: 10px" href={% url 'order' %}>Booking-Contact</a></li>
            <li><a style="padding-right: 10px" href={% url 'contact' %}>Sign-Up</a></li>
          </ul>
        </div>
    </div>
</header>