/* shared css */
main {
    margin: 1rem 1.5rem;
    padding: 0;
}
hr {
    margin: 0px 1.5rem;
    padding: 0;
}
a {
    color: #fff;
    text-decoration: none;
}
p {
    line-height: 25px;
}
button {
    color: #fff;
    font-weight: bolder;
    border:none;
    outline: none;
    background: #F00;
    cursor: pointer;
}
::selection {
    background-color: green;
}

/* navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 5%;
    align-items: center;
    background-color: #070211;
}
.logo-text {
    color: #f00;
    font-size: 4.5rem;
    font-weight: bolder;
}
.menu ul {
    display: flex;
    gap: 6rem;
}
.menu li {
    list-style-type: none;
}
.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}
.menu a:hover {
    padding: 0.5rem 1.5rem;
    border-radius: 0.2rem;
    background-color: gray;
}

/* bannner */
.banner {
    color: #fff;
    width: 100%;
    min-height: 30rem;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("./resources/banner_image.png");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
}

.sub-title {
    font-size: 2rem;
    text-align: center;
    padding-top: 7%;
}
.headline {
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    padding: 0 10%;
}

/* discount */
.discount {
    color: #F00;
    text-align: center;
    margin-top: 30px;
}
.discount img {
    width: 100%;
}
.dis-title {
    font-size: 88px;
    font-weight: 700;
}
.dis-subtitle {
    color: #070211;
    font-size: 30px;
    font-weight: 700;
    line-height: 5px;
}

/* midnight */
.midnight {
    margin-top: 50px;
    color: #fff;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("./resources/round.png");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
}
.text-part {
    width: 50%;
}
.text-part h1 {
    font-weight: bolder;
    font-size: 4em;
    margin-bottom: 0.1em;
}
.text-part p {
    margin-left: 2em;
    margin-bottom: 2em;

}
.image-part {
    margin-top: 4rem;
}

/* invitation */
.invitation {
    height: 400px;
}
.schedule {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}
.schedule-sub {
    color: #F00;
    font-weight: bold;
    line-height: 5px;
}
.join-button {
    padding: 10px 40px;
    margin-top: 30px;
    border-radius: 5px;
}

/* upcoming */
.upcoming {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.offer {
    width: 25%;
    height: 50%;
    text-align: center;
}
.enjoy {
    width: 25%;
}
.circle {
    border-radius: 50%;
    border: 15px solid #F00;
    position: relative;
}
.circle > img {
    height: 80%;
    width: 85%;
    margin: 20px;
}
.year-symbol {
    width: 25%;
}
.year {
    color: #F00;
    font-size: 40px;
    font-weight: 700;
}

/* holidays */
.holidays {
    height: 780px;
    text-align: center;
}
.holidays > p {
    font-size: 20px;
    margin: 0px;
}
.sale {
    color: #F00;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    margin: 0px;
}
.sale-black {
    color: #000;
}
.holidays .sec-part {
    display: flex;
    justify-content: space-between;
}
.holidays .sec-part > box {
    padding-top: 300px;
}
.box {
    width: 60%;
    height: 540px;
    background-image: url("./resources/group75.png");
    background-size: cover;
    position: relative;
    top: 50px;
}
.disc {
    background-image: url("./resources/discount.png");
    background-size: cover;
    background-position: center;
    width: 40%;
}
.disc > img {
    margin-top: 35%;
    margin-left: -100%;
}
.third {
    height: 60px;
    border-radius: 5px 0px 5px 5px;
    background-image: url("./resources/rectangle2.png");
    background-size: cover;
    background-position: center;
}

/* shop */
.shop {
    height: 940px;
    padding-top: 60px;
    margin-bottom: 100px;
    line-height: 15px;
}
.row {
    display: flex;
    padding-bottom: 20px;
}
.row  img {
    width: 95%;
    box-shadow: 10px 10px 5px rgb(151, 150, 150);
}
.row img:hover {
    transform: scale(1.05);
}

/* newsletter */
.newsletter {
    height: 420px;
    background: rgba(255, 0, 0, 0.10);
    border-radius: 16px;
    text-align: center;
}
.mail-logo {
    height: 150px;
    width: 150px;
    padding-top: 4%;
    margin-bottom: -20px;
    padding-left: 43%;
}
.newsletter p {
    margin-bottom: 0;
}
.subscribe {
    padding-left: 60px;
}
.subscribe button {
    height: 40px;
    padding: 0px 35px;
    border-radius: 0px 50px 50px 0px;
    margin-left: -4px;
}
.subscribe > input {
    border:none;
    outline: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 40px;
    width: 300px;
    padding-left: 30px;
}

/* footer */
footer {
    height: 350px;
    color: #fff;
    font-size: normal;
    line-height: normal;
    padding: 20px;
    background-color: #070211;
}
.address {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left {
    line-height: 30px;
}
.right > .first {
    display: flex;
    align-items: center;
}
.right > .second {
    display: flex;
    align-items: center;
}
.right > logo {
    margin-right: 50px;
}
.social-media {
    margin: 20px;
    display: flex;
    justify-content: center;
}
.social-media > div {
    margin: 0 20px;
}
.copy-subscription {
    margin: 20px 20px 0px;;
    display: flex;
    justify-content: space-between;
}


/* media query */

/* mobile */
@media screen and (max-width: 425px) {
    nav {
        padding: 0;
    }
    .menu {
        visibility: hidden;
    }
    .midnight {
        display: block;
    }
}

/* tablet */
@media screen and (max-width: 768px){
    nav {
        padding: 0;
    }
    .menu {
        visibility: hidden;
    }
    .midnight {
        display: block;
    }
}

/* laptop */
@media screen and (max-width: 1040px) {
    
}